/* Media queries */
@media screen and (max-width: 1050px) {
    .menu {
        font-size: 20px;
    }
    .menu-nav {
        padding: 5px 15px;
        padding-bottom: 7px;
    }
    .nav {
        padding-right: 0;
        padding-left: 0;
        margin-top: 20px;
        width: 100%;
        margin-right: 50%;
        transform: translate(50%, 0);
    }
    .pad-top-soc {
        float: right;
        margin-left: 0;
    }
    .logo h5 {
        font-size: 20px;
    }
    .wrapper-left {
        width: 100%;
    }
    .wrapper-right {
    width: 100%;
    }
    .wrapper-left h4,
    .wrapper-right h4 {
        border-radius: 10px;
    }
    .wrapper-left .about-p-wrap,
    .wrapper-right .about-p-wrap {
        margin-right: 15px;
        margin-left: 15px;
    }
    .main-about {
        padding-bottom: 0;  
    }
    .aside-about {
        padding-top: 0;
    }
}
 
@media screen and (max-width: 870px) {
    .header-list-about {
        text-align: center;
    }
    .header-list-about p {
        width: 100%;
        margin-right: 50%;
        transform: translate(50%, 0);
    }
    .photo-and-name {
        margin-right: 50%;
        transform: translate(50%, 0);
    }
    .photo-and-name h2 {
        font-size: 45px;
    }
    #myphoto {
        width: 100%;   
        padding: 0;
    }
    .photo-and-name h2 {
        width: 100%;
        padding: 0;
    }
    .project-pre {
        width: 80%;
        float: none;
        margin-right: 0;
        margin-left: 10%;
    } .project-pre:last-child {
        margin-right: 0;
        margin-bottom: 0;
        }
    .project-row1 {
        padding-bottom: 35px;
    }
    .project-list {
        width: 100%;
        margin-left: 0;
    }
    .wrapper-about {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .name-header {
        font-size: 65px;
    }
    .pod-header {
        font-size: 25px;
    }
    .photo-and-name h2 {
        font-size: 35px;
    }
    .wrapper-blog-post p:last-child {
        text-align: left;
        padding: 5px;
        padding-top: 10px;
    }
    .wrapper-blog-page {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .pad-top-soc {
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        margin-top: 15px;
        width: 100%;
        margin-right: 50%;
        transform: translate(50%, 0);
    }
    .logo {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .nav {
        margin-bottom: 25px;
    }
    .name-header {
        padding-top: 50px;
    }
    .name-header {
        font-size: 50px;
    }
    .pod-header {
        font-size: 20px;
    }
    .photo-and-name h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    
}