body {
  background-color: #FFF; 
  height: 100%;
  width: 100%;
}

/* header */

header {
  background: #F4F4F5;
  text-align: center;
  padding: 15px;
}

header nav ul li {
  display: inline;
  margin: 0 25px;
}

header nav ul li a {
  color: #545454;
  text-decoration: none;
  transition-duration: .2s
} header ul li a:hover {
  color: #FF9800;
}

.wrapper-about p {
  padding: 5px;
  color: #85858C;
}

header nav {
  margin: 35px 0 25px 0;
  font-size: 20px;
}

#myphoto-blog {
  text-align: center;
  padding: 15px;
  width: 150px;
}

/* main */

main{
}

.wrapper-blog-post {
  border: 1px solid #9D9D9D;
  margin: 15px; 
  padding: 15px;
  background-color: white;
} .wrapper-blog-post p {
  font-size: 18px;
  padding: 30px;
  text-align: justify;
} .wrapper-blog-post a {
  text-decoration: none;
  color: #333;
} .wrapper-blog-post h3 {
  color: black;
  font-size: 25px;
  padding: 5px 15px;
}

.blog-post-data {
  border-bottom: 1px solid #9D9D9D;
  padding: 10px 15px;
}

.widget-social {
  text-align: center;
}

.widget-social li {
  display: inline;
}

.social-top {
  color: #85858C;
  border: #F4F4F5 1px solid;
  } .social-top:hover {
    color: white;
  }