.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    word-wrap: break-word;
}

body {
	min-width: 375px;
	background-color: white;
	font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  	padding: 0;
  	margin: 0;
}

.box-shadow {
	box-shadow: 0px 0px 5px 0px #000;
}

.text-shadow {
	text-shadow: 0px 0px 5px #000;
}


